.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary--color{
  color:#4f6f52 !important
}
.gray--color{
  color:rgb(182,181,181) !important
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* Adjust the gap between the cards as needed */
  padding: 16px; /* Optional padding around the grid */
}
.movie-card{
  flex:1;
  height:auto;
  text-align:center;
  padding:0;
}
.movie-details {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 18px;
  align-items: flex-start;
}

.movie-card-left div, .movie-card-right div {
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 18px;
  align-items: flex-start;

}
.movie-card-left div{
  margin-left: 30px;
}
.movie-card-right div {
  font-weight: normal;
}



