/* src/styles/ForgotPasswordForm.css */

.forgot-password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #f0f2f5;*/
    padding: 20px;
}

.forgot-password-card {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: white;
}

.forgot-password-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.forgot-password-title {
    color: #53a3a4;
    font-size: 24px;
    font-weight: bold;
}

.forgot-password-alert {
    margin-bottom: 24px;
}

.forgot-password-button-container {
    text-align: center;
}

.forgot-password-button {
    width: 100%;
    background: #53a3a4;
}
